/*=====================================================*/
/*==================[ Color Palette ]==================*/
/*===================[ HEX #587B7F ]===================*/
/*===================[ HEX #1E2019 ]===================*/
/*===================[ HEX #394032 ]===================*/
/*===================[ HEX #8DAB7F ]===================*/
/*===================[ HEX #CFEE9E ]===================*/
/*=====================================================*/



/*====================[ CSS Rest ]======================*/

html, 
body, 
div, 
span, 
iframe,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
a, 
ol, 
ul, 
li,
fieldset, 
form, 
article, 
aside, 
figure, 
figcaption, 
footer, 
header, 
nav {
    margin: 0;	
    padding: 0;	
    border: 0;	
    font-size: 100%;	
    font: inherit;	
    vertical-align: baseline;
}

/*====================[ Typography ]======================*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    clear: both;
}

html {
    height: 100%;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
}

body {
    margin: 0;
    height: 100%;
    width: auto;
    background: ;
}

/*====================[ Header ]======================*/

header {
    background: url();
    background-color: #8DAB7F;
    padding: 0;
    border-bottom: 1px solid black;
}

.titlelink {
    background-color: #587B7F;
    margin: 0;
    padding: 0;
    height: 3rem;
}

.titlelink a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 1rem 0;
}

.tagline {
    background-color: #1E2019;
    margin: 0;
    padding: 0;
    height: 2rem;
}

.tagline h2 {
    color: #FFFFFF;
    padding: 1rem 0;
}

/*===================[ Navigation ]====================*/

nav {
    border-bottom: 1px solid black;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

nav ul {
    border-right: 1px solid white;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: .5rem 1.5rem;
    margin: 0;
    border-right: 1px solid white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 0;
    margin: 0;
}

nav ul li.active {
    background-color: white;
}

/*======================[ Body ]=======================*/

.frontintro {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #FFFFFF;
}

.skills {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #9191ba;
    height: 100%;
}

.html5,
.css3,
.responsive,
.adobe,
.wordpress,
.seo {
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background-color: #FFFFFF;
}

/*=====================[ Footer ]======================*/

footer {
    border-top: 1px solid black;
    background-color: #8DAB7F;
    padding: 1rem;
}

/*==================[ Media Queries ]==================*/





